{% extends 'base.html.twig' %}

{% block title %}Deck of Cards{% endblock %}

{% block body %}
    <h1>Deck of Cards</h1>

    <div class="card-deck">
        {% for suit, cards in deck.getCards() %}
            <h2>{{ suit }}</h2>
            <div class="card-row">
                {% for card in cards %}
                    <div class="card">
                        {{ card.getAsString() }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
