{% extends 'base.html.twig' %}

{% block title %}Draw Cards{% endblock %}

{% block body %}
    <h1>Draw Cards</h1>
    <div class="drawn-cards">
        {% if drawnCards %}
            <h2>Drawn Cards</h2>
            <ul>
                {% for card in drawnCards %}
                    <li>{{ card.getAsString() }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cards drawn</p>
        {% endif %}
    </div>
    <p>Remaining cards in the deck: {{ remainingCardsCount }}</p>
{% endblock %}