{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}
<h1>Documentation</h1>

<h2>Flowchart</h2>
<img src="{{ asset('img/Kmom02.png') }}" alt="">

<h2>Pseudo code</h2>

<h2>Classes</h2>

{% endblock %}