{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>This is the base for a card game.</p>

<p>These are the routes used in developing this game.</p>

<ul>
    <li><a href="{{ path('doc') }}">Documentation page</a></li>
</ul>

<h1>BLACKJACK</h1>

<p>Underneath is my UML diagram for my classes. As you can see I have three classes, and a handful of helpful methods for each class.</p>
<h3>Relations</h3>
<p>"Deck" has a aggregation relationship with "Card", it might contain cards, and cards can exist without a deck. And "CardGraphic" inherits from Card.</p>

<img src="{{ asset('img/Kmom02.png') }}" alt="">

{% endblock %}