{% extends 'base.html.twig' %}

{% block title %}Blackjack{% endblock %}

{% block body %}
<h1>Blackjack</h1>
<h2>Rules and description:</h2>
<p>The goal of the game is to get closer to 21 than the dealer. In my game, the dealer wins in case of a tie. The dealer first deals two face-up cards to each player, in my game to one player. The dealer deals one card to themselves. Players then choose whether they want more cards or to stand. When the players have finished, the dealer draws cards. The dealer must stand on 17 or better and draw if it's under 17. The dealer must also stand if they have, for example, an Ace and a 6 (7/17). All suited cards are worth 10, and an Ace is worth 11 or 1.</p>
<ul>
    <li><a href="{{ path('doc') }}">Documentation page</a></li>
    <li><a href="{{ path('play') }}">Start playing!</a></li>
</ul>
{% endblock %}
