{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
<h1>Welcome to the Library</h1>

<h2>Navigation</h2>

<ul>
    <li><a href="{{ path('book_show_all') }}">View All Books</a></li>
    <li><a href="{{ path('book_create') }}">Add a New Book</a></li>
</ul>
{% endblock %}