/* body {
    background: url('../images/background.jpg');
    background-size: cover;
} */

html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 150px;
}

main {
    margin: 0 auto;
    max-width: 800px;
    min-height: 80vh;
    padding-bottom: 20px;
}

h1 {
    border-bottom: 4px double #ccc;
}

/** two_column_layout.css */

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.two-col-layout > .main {
    width: calc(100% / 16 * 12); /* 12/16 width */
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 1em;
}
   
.two-col-layout > .aside {
    width: calc(100% / 16 * 4); /* 4/16 width */
    text-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.two-col-layout > .aside ul {
    list-style-type: none;
    text-align: left !important;
}


img {
    max-width: 800px;
}

/** navbar.css */

/*
 * Add colors and borders.
 */
 .navbar {
    background-color: rgb(112, 112, 112);
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.2em;
}

/*
 * Style links.
 */
.navbar a {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover {
    color: #EEE;
    background-color: #914600;

}

/*
 * Remove bullets, margins and padding from the list.
 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
 * Put the li items on a line.
 */
.navbar li {
    display: inline;
}

/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

p {
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 1.75rem;
    font-size: 1.25em;
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Source Sans 3', sans-serif;
}

/* Footer style */
footer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 4rem 6rem;

}

/* Crazy style */
.rainbow-text {
    font-size: 60px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}

/* Flash */
.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

/* Project */

.nav {
    display: flex;
    justify-content: center;
}

.nav a {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #ccc;
    text-decoration: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 4px;
    background-color: black;
}

.nav a:hover {
    outline: 2px solid #ccc;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.001px !important;
    margin-block-end: 0.001px !important;
    margin-inline-start: 0.001px;
    margin-inline-end: 0.001px;
    padding-inline-start: 40px;
}

.nav ul li {
    padding: 0.5em !important;
}

.main-proj {
    color: #dddddd;
}

.main-proj a {
    color: #1e90ff !important;
}

.body-proj {
    background-color: #262626;
}