{% extends "base.html.twig" %}

{% block title %}API landing page{% endblock %}

{% block body %}
    <h1>JSON routes</h1>
    <ul>
        {% for route in jsonRoutes %}
            <li>
                <strong>Route:</strong> <a href="{{ route.path }}">{{ route.path }}</a><br>
                <strong>Description:</strong> {{ route.description }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
