{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="two-col-layout">
<main class="main">
    <h1>About</h1>
    <p>"Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning."</p>
    <a href="{{ asset('img/web.jpg') }}">
        <img src="{{ asset('img/web.jpg') }}" alt="" style="max-width: 400px;">
    </a>
    </main>

        <aside class="aside">
        <h4>Kursen</h4>
        <ul>
        <li><a href="https://github.com/dbwebb-se/mvc">Kursens repo, GitHub</a></li>
        <li><a href="https://github.com/Pbris/mvc1">Webbplatsens repo</a></li>
                
        </ul>
    </aside>
</div>

{% endblock %}