{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Jag heter Peter och utbildar mig till webbprogrammerare. Under uppväxten bodde jag i Ronneby, och spenderade bl.a. tid på umgänge med kompisar, musicerande, innebandy samt datorer. Datorintresse väcktes tidigt, och datorspel spelades flitigt med vänner och familjemedlemmar. Ofta i form av LAN, vilka avverkades ett flertal under den tiden i goda vänners lag. Även byggande av datorer och optimerande av dessa var ett intresse som delvis hängt med, idag med mer vikt på mjukvara.
    <br>
    Under andra studier i Växjö träffade jag min nuvarande fru, och vi flyttade till Göteborg när vi båda var färdigstuderade, där vi fortfarande är kvar idag. På fritiden spelar jag mycket tennis och umgås med många av de gemensamma vänner som min fru och jag fick i Växjö. Ibland kan det hända att jag spelar lite gitarr eller piano. Basen jag spelade i band i Växjö är tyvärr såld, och bandet på is. Med lite tur och inspiration återupptas förhoppningsvis grupp-musicerandet i någon form i framtiden.</p>
    <img src="{{ asset('img/me.PNG') }}" alt="">
{% endblock %}